/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

h2 {
  text-align: center;
  padding: 40px;
}

.demoImage {
  /* border-radius: 4px; */
  /* box-shadow: 0 0 5px grey; */
}

.cabinetPage {
  padding: 20px;
  position: relative;
}

.cabinetPage h3 {
  padding-bottom: 20px;
  padding-top: 40px;
  text-align: center;
}

.loginButton {
  cursor: pointer;
  font-size: 2em;
  color: #1c1e21;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
}

.logoutButton {
  float: right;
  color: rgb(114, 53, 53);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.keyRow {
  position: relative;
  margin-bottom: 20px;
}

.keyRow pre {
  display: inline-block;
  width: calc(100% - 90px);
  margin: 0;
}

.keyRow input {
  display: inline-block;
  width: calc(100% - 90px);
  padding: 10px;
  margin: 0;
}

.keyRow button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.feedback {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
